---
import Base from "../layouts/Base.astro";
---
<Base title="A propos">
	<div>
		<div class="flex justify-center">
			<img src="../public/images/dali.jpg" class="m-8 h-89 w-220">
		</div>
		<div class="m-4">
	<h1 class="text-6xl m-4">À propos</h1>
	<p class="m-4">Salut ! je suis Fnine Jasser, et ce blog est une extension de mon engagement envers la réflexion profonde et la création littéraire.
		Ce blog est ma plateforme pour partager mes écrits et explorations intellectuelles. Vous trouverez ici une diversité d’articles,
		allant des essais philosophiques qui sondent les profondeurs de la pensée humaine, aux analyses politiques qui cherchent à éclairer
		les dynamiques sociales, en passant par quelques écrits romantiques qui célèbrent l’élan du cœur.</p>
	</div>
	</div>
</Base>

