---
import Base from "../layouts/Base.astro";
---

<Base title="A propos">
	<div>
		<div class="flex justify-center">
			<img src="../public/images/dali.jpg" class="m-8 h-89 w-220" />
		</div>
		<div class="m-4">
			<h1 class="text-6xl m-4">À propos</h1>
			<p class="m-4">
				Salut ! je suis Fnine Jasser, et ce blog est une extension de
				mon engagement envers la réflexion profonde et la création
				littéraire. Ce blog est ma plateforme pour partager mes écrits
				et explorations intellectuelles. Vous trouverez ici une
				diversité d’articles, allant des essais philosophiques qui
				sondent les profondeurs de la pensée humaine, aux analyses
				politiques qui cherchent à éclairer les dynamiques sociales, en
				passant par quelques écrits romantiques qui célèbrent l’élan du
				cœur.
			</p>
			<h3 class="m-4">My Socials:</h3>
			<div class="flex space-x-4 m-4">
				<a
					href="https://www.instagram.com/fnine_jasser?igsh=ZTV0aXRlbmk4d2gx&utm_source=qr"
				>
					<i class="fab fa-instagram fa-2x text-pink-500"></i>
				</a>
				<a href="https://github.com/JsFn99/">
					<i class="fab fa-github fa-2x text-gray-900"></i>
				</a>
				<a href="https://www.linkedin.com/in/jasser-fnine-4393a8230?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app">
					<i class="fab fa-linkedin fa-2x text-blue-700"></i>
				</a>
			</div>
		</div>
	</div>
</Base>
