---
const currentYear = new Date().getFullYear();
---

<footer class="bg-orange-50 text-black py-4">
    <div class="container mx-auto text-center">
        <p class="text-sm">
            &copy; {currentYear} Esquisses Emotionnelles et Intellectuelles. All
            rights reserved.
        </p>
        <p class="text-sm mt-2">Designed with ❤️ by Fnine Jasser</p>
    </div>
</footer>
